<!--
  Generated template for the EditUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color=primary>
    <ion-title align="center">Editar Usuario</ion-title>
    <ion-buttons>

      <button ion-button (click)="viewCtrl.dismiss(false)">
        <ion-icon name="md-close"></ion-icon>
      </button>

    </ion-buttons>    
  </ion-navbar>

</ion-header>


<ion-content padding *ngFor="let datos of datos_user">

    <ion-card color="dark">

        <ion-card-header>
          Datos Personales &nbsp;
          <ion-icon name="person-add">
          </ion-icon>
        </ion-card-header>
        <ion-card-content>
    
          <ion-list>
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <ion-item>
    
                    <ion-input type="text" disabled="true"  [(ngModel)]="rut_update" value="{{datos.Rut}}"></ion-input>
                  </ion-item>
                </ion-col>
    
                <ion-col col-6>
                  <ion-item>
    
                    <ion-input type="text"  [(ngModel)]="nombre_update" value="{{datos.Nombre}}"></ion-input>
                  </ion-item>
    
    
                </ion-col>
    
    
              </ion-row>
              <ion-row>
                <ion-col col-6>
    
                  <ion-item>
    
                    <ion-input type="text"  [(ngModel)]="apellidoP_update" value="{{datos.Apellido_pat}}"></ion-input>
                  </ion-item>
    
                </ion-col>
    
                <ion-col col-6>
    
                  <ion-item>
    
                    <ion-input type="text" [(ngModel)]="apellidoM_update" value="{{datos.Apellido_mat}}"></ion-input>
    
                  </ion-item>
    
                </ion-col>
    
              </ion-row>
    
              <ion-row>
                <ion-col col-2>
    
                  <ion-item>
                    <ion-icon font-size="50px" name="home"></ion-icon>
                  </ion-item>
    
                </ion-col>
    
                <ion-col col-10 align="center">
                  <ion-item>
    
                    <ion-input type="text"  align="center" [(ngModel)]="direccion_update" value="{{datos.Direccion}}"></ion-input>
    
    
                  </ion-item>
    
    
                </ion-col>
    
    
    
              </ion-row>
    
            </ion-grid>
    
          </ion-list>
    
        </ion-card-content>
    
      </ion-card>
    
      <ion-card color="dark">
    
        <ion-card-header>
    
          <h2 align="center">Usuario y Contraseña</h2>
    
        </ion-card-header>
    
        <ion-card-content>
    
          <ion-row>
            <ion-col col-2>
    
            </ion-col>
    
            <ion-col col-7>
              <ion-item>
    
                <ion-input type="text" [(ngModel)]="user_update" value="{{datos.Usuario}}"></ion-input>
    
              </ion-item>
    
            </ion-col>
    
            <ion-col col-1>
    
    
    
              <ion-icon name="person"> </ion-icon>
    
    
    
            </ion-col>
          </ion-row>
    
    
          <ion-row>
            <ion-col col-2>
    
            </ion-col>
    
    
            <ion-col col-7>
    
              <ion-item>
                <ion-input type="password"  [(ngModel)]="pass_update" value="{{datos.Pass}}"></ion-input>
              </ion-item>
    
    
    
            </ion-col>
    
            <ion-col col-1>
              <ion-icon name="key" md="md-key"></ion-icon>
            </ion-col>
          </ion-row>
    
        </ion-card-content>
    
      </ion-card>
    
      <ion-card color="dark">
    
        <ion-card-header>
    
          <h2 align="center"> Privilegios</h2>
    
        </ion-card-header>
    
        <ion-card-content>
    
          <ion-row>
            <ion-col col-2>
            </ion-col>
    
            <ion-col col-7>
    
              <form (submit)="doSubmit($event)" [formGroup]="langForm">
                <ion-list radio-group formControlName="langs">
    
    
                  <ion-item color="palido">
    
                    <ion-label>Administrador</ion-label>
                    <ion-radio color="danger" value="admin"  ></ion-radio>
    
                  </ion-item>
    
                  <ion-item color="palido">
    
                    <ion-label>Conductor</ion-label>
                    <ion-radio color="danger" value="chofer"></ion-radio>
    
                  </ion-item>
    
    
                </ion-list>
              </form>
             
    
    
    
            </ion-col>
          </ion-row>
    
    
    
        </ion-card-content>
    
    
      </ion-card>
    
      <ion-card color="dark">
    
        <ion-card-header>
          <h2 align="center"> Asignaciones </h2>
        </ion-card-header>
    
        <ion-card-content>
    
          <ion-row>
            <ion-col col-1>
    
            </ion-col>
    
            <ion-col col-10>
    
              <ion-list>
                <ion-item>
                  <ion-label> Establecimiento</ion-label>
                  <ion-select [(ngModel)]="establecimientos">
                  
                    <ion-option *ngFor="let estab of uservice.select_estab" value={{estab.nombre_establecimiento}} > {{estab.nombre_establecimiento}} </ion-option>
                  </ion-select>
                </ion-item>
    
                <ion-item>
                  <ion-label>Vehiculo</ion-label>

                  <ion-select [(ngModel)]="vehiculos">

                    <ion-option *ngFor="let cars of uservice.select_cars">{{cars.Patente}}</ion-option>
    
    
                  </ion-select>
                  
                </ion-item>
              </ion-list>
    
            </ion-col>
    
            <ion-col col-1>
    
    
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col col-12  >
              <ion-item color="light">
                <img [src]="vehiculos | imagen">
              </ion-item>
            </ion-col>
          </ion-row>
    
        </ion-card-content>
      </ion-card>

      <button ion-button color="light" (click)="modificar()" round full> Modificar </button>  
      <button ion-button color="light" (click)="eliminar()" round full> Eliminar </button>  

      

</ion-content>
